/** Overrides **/

body {
  font-size: 0.8em;
}

aside {
  padding: 0;
  width: 25em;
}

aside ul {
  line-height: 1.0;
}

aside li {
  margin: 0.5em 0;
}

label {
  display: inline-block;
  margin-bottom: 0.4em;
}

/** General **/

#animatorSidebar {
  border: 0;
  display: flex;
  /** Sidebar will use whatever the width of the tabs is **/
  width: auto;
}

.sidebar-item {
  margin: 0 1em;
  overflow: auto;
}

.btn {
  flex-direction: column;
  padding: 0.25em 1px;
}

.btn small {
  margin-top: 0.5em;
}

/** Table **/

.table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

.table thead {
  font-size: 0.9em;
}

.table tbody {
  font-family: monospace;
}

.table td, .table th {
  padding: 0.25em 0.5em;
  white-space: nowrap;
  width: 1px;
}

.table thead tr {
  background-color: rgba(23, 23, 23 , 0.8);
}

.table tbody tr:nth-child(odd) {
  background-color: rgba(23, 23, 23 , 0.5);
}

.table tbody tr:nth-child(even) {
  background-color: rgba(23, 23, 23 , 0.8);
}

.table i {
  font-size: 0.8em;
}

/** Tabs **/

.tabs {
  background-color: #171717;
  border-bottom: 1px solid #ADADAD;
  display: flex;
  margin: 0;
  padding: 0.3em 0.3em 0 0.3em;
  width: 100%;
}

.tabs a {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 5px 5px 0 0;
  display: flex;
  font-size: 0.8em;
  margin-bottom: -1px;
  padding: 0.75em;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.tabs a:hover, .tabs a:active {
  background-color: #2B2B2B;
  border: 1px solid #ADADAD;
}

.tabs a.active {
  border: 1px solid #ADADAD;
  border-bottom: 1px solid #2B2B2B;
  text-decoration: underline;
}

.tabs a.active {
  background-color: #2B2B2B;
  color: #ADADAD;
}

.tabs li.active a:hover {
  text-decoration: none;
}

/** Tabs Content **/

.tabs-container {
  align-content: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.tabs-content {
  display: flex;
  flex: 1;
  min-width: 100%;
  overflow: hidden;
  width: 1px;
}

.tab-pane {
  display: none;
  flex: 1;
  overflow: auto;
}

.tab-pane.active {
  display: block;
}

/** Capture sliders **/

.capture-slider-group {
  display: flex;
}

.capture-slider-group label {
  flex: 1;
}

.capture-slider-group input[type="range"] {
  flex: 2;
}

.capture-slider-value {
  width: 3.5em;
}

/** Panel Expand Symbol **/

.panel-expander {
  background-color:#423e3e;
  color: #5C5858;
  cursor: col-resize;
  display: flex;
  flex-direction: column;
  font-size: 0.2em;
  height: 100%;
  justify-content: center;
}

.panel-expander:hover {
  background-color: #5C5858;
  color:#423e3e;
}

.panel-expander:active {
  background-color: #827E7E;
  color:#5C5858;
}

.panel-expander i {
  margin: 0.5em;
}